:root {
  /* FONT */
  --site-font: 'FuturaPT', "Arial", sans-serif;
  --font-color: #949494;
  --hover-button-color: #FFBD54;
  --heading-button-color: #333333;
}

@font-face {
  font-family: 'FuturaPT';
  src: url('../font/FuturaPT-Bold.woff2') format('woff2'),
      url('../font/FuturaPT-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FuturaPT';
  src: url('../font/FuturaPT-Book.woff2') format('woff2'),
      url('../font/FuturaPT-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FuturaPT';
  src: url('../font/FuturaPT-Light.woff2') format('woff2'),
      url('../font/FuturaPT-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FuturaPT';
  src: url('../font/FuturaPT-Medium.woff2') format('woff2'),
      url('../font/FuturaPT-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* GENERAL */
html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: var(--site-font);
  background-color: #f9f9f9;
  background-image: url(../img/bg.svg);
  color: var(--font-color);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1345px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.site-heading {
  font-weight: bold;
  font-size: 48px;
  line-height: 54px;
  color: var(--heading-button-color);
}

.site-link {
  font-style: normal;
  font-weight: 500; 
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: var(--heading-button-color);
}




/* HEADER */

/* TOP HEADER */
.site-header__top {
  padding-top: 12px;
  padding-bottom: 14px;
  background-color: #f9f9f9;
}

.header-top__font {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: var(--heading-button-color);
  text-decoration: none;
}

.header-top__container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header-top__address {
  display: inline-flex;
  align-items: center;
  margin-right: 106px;
  width: 241px;
}

.header-top__address::before {
  margin-right: 9px;
  width: 14px;
  height: 14px;
  background-image: url(../img/icon/home.svg);
  background-repeat: no-repeat;
  background-position: center center;
  content: "";
}

.header-top__list {
  display: flex;
  align-items: center;
  margin: 0;
  margin-right: 98px;
  padding: 0;
  width: 421px;
  list-style: none;
}

.header-top__item {
  display: inline-flex;
  align-items: center;
}

.header-top__item:not(:first-child) {
  margin-left: 22px;
}

.header-top__item:not(:first-child)::before {
  /* display: block; */
  margin-right: 9px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--hover-button-color);
  content: "";
}

.header-top__item:first-child::before {
  display: block;
  margin-right: 9px;
  width: 13px;
  height: 13px;
  background-image: url(../img/icon/phone.svg);
  background-position: center center;
  content: "";
}

.header-top__tel {
  transition: color 0.3s ease,
  opacity 0.3s ease;
}

.header-top__item:hover .header-top__tel {
  color: var(--hover-button-color);
}

.header-top__item:active .header-top__tel {
  opacity: 0.6;
}

.data-wrapper {
  display: flex;
  align-items: center;
  width: 292px;
}

.header-top__data {
  margin-left: 17px;
}

.data-firs {
  display: inline-flex;
  align-items: center;
}

.data-firs::before {
  margin-right: 7px;
  width: 14px;
  height: 14px;
  background-image: url(../img/icon/calendar.svg);
  background-repeat: no-repeat;
  background-position: center center;
  content: "";
}

.site-header__bottom {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fff;
}

/* header container */
.site-header__container {
  display: flex;
  align-items: center;
}

/* header nav */
.site-header__nav {
  display: flex;
  align-items: center;
}

/* header logo */
.site-header__logo-link {
  position: absolute;
  top: calc(50% - 48px);
  left: calc(50% - 645px);
}

.site-header__logo {
  display: block;
}

/* header ul */
.site-header__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 695px;
  list-style: none;
  text-align: center;
}

/* header li */

.site-header__item:not(:last-child) {
  margin-right: 55px;
}

/* header link */
.site-header__link {
  position: relative;
  z-index: 5;
  text-align: center;
}

.site-header__link::before {
  position: absolute;
  z-index: -1;
  bottom: 2px;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #F4FFAD;
  transition: height 0.3s ease;
  content: "";
}

.site-header__item:hover .site-header__link::before {
  height: 4px;
}

.site-header__item:active .site-header__link{
  opacity: 0.6;
}

/* site header link */
.header-btn {
  margin-left: auto;
}

.site-header__ask {
  position: relative;
  z-index: 5;
}

.site-header__ask::after {
  position: absolute;
  left: -31px;
  top: 0;
  width: 26px;
  height: 26px;
  background-image: url(../img/icon/pet.svg);
  content: "";
}

.header-btn:hover .site-header__ask::before {
  height: 4px;
}

.header-btn:active .site-header__ask {
  opacity: 0.6;
}

.site-header__ask::before {
  position: absolute;
  z-index: -1;
  bottom: 2px;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #F4FFAD;
  transition: height 0.3s ease;
  content: "";
}

.div {
  width: 178px;
  margin-right: auto;
}

/* HERO */

.hero {
  padding-top: 153px;
  padding-bottom: 300px;
  background-image: url(../img/img.png), url(../img/pet.png);
  background-repeat: no-repeat;
  background-position: calc(50% - -46px) calc(50% - 50px), calc(50% + 650px) calc(50% + 90px);;
  background-size: 1768px, 492px 531px;
}

.hero__container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.hero__content {
  width: 608px;
}

.hero__heading {
  margin: 0;
  margin-bottom: 29px;
  padding: 0;
  font-weight: bold;
  font-size: 70px;
  line-height: 64px;
  color: var(--heading-button-color);
}

.hero__heading span {
  color: #78C0DE;
}

.hero__text {
  margin: 0;
  margin-bottom: 38px;
  width: 495px;
}

.button {
  border-radius: 3px;
  background-color: #333;
  color: #fff;
}

.button:hover {
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.button:active {
  opacity: 0.6;
}

.hero__link {
  padding: 15px 47px;
  text-decoration: none;
}



/* FEATURES */
.features {
  padding-top: 11px;
  padding-bottom: 95px;
}

.features__content {
  position: relative;
  margin: 0 auto;
  width: 706px;
  text-align: center;
}

.features__content::before {
  position: absolute;
  left: -105px;
  top: -15px;
  width: 100px;
  height: 100px;
  background-image: url(../img/icon/bl-1.png);
  background-repeat: no-repeat;
  background-position: center center;
  content: "";
}

.features__content::after {
  position: absolute;
  left: 705px;
  top: 40px;
  width: 100px;
  height: 100px;
  background-image: url(../img/icon/bl-2.png);
  background-repeat: no-repeat;
  background-position: center center;
  content: "";
}

.features__bl {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.features__bl::before {
  display: block;
  margin-bottom: 43px;
  width: 140px;
  height: 1px;
  background-color: #DBDBDB;
  content: "";
}

.features__bl::after {
  display: block;
  margin-top: 35px;
  width: 140px;
  height: 1px;
  background-color: #DBDBDB;
  content: "";
}

.features__desc {
  margin: 0;
  margin-top: 35px;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: var(--heading-button-color);
}




/* OUR SERVICES */
.our-services {
  padding-top: 96px;
}

.our-services__heading {
  margin-bottom: 80px;
  font-weight: bold;
  font-size: 48px;
  line-height: 54px;
  text-align: center;
  color: var(--heading-button-color);
}

.our-services__menu {
  width: 1223px;
  overflow: hidden;
}

.our-services__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.our-services__item {
  margin-bottom: 14px;
  margin-right: 13px;
  padding: 129px 35px 28px;
  border: 1px solid #F3F3F3;
  border-radius: 5px;
  min-width: 193px;
  min-height: 201px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center calc(50% - 36px);
}

.our-services__item:nth-child(1) {
  background-image: url(../img/firs-see.png);
  background-position: calc(50% - -7px) calc(50% - 36px);
}

.our-services__item:nth-child(2) {
  background-image: url(../img/second-see.png);
}

.our-services__item:nth-child(3) {
  background-image: url(../img/hirurgi.png);
}

.our-services__item:nth-child(4) {
  background-image: url(../img/dermotology.png);
}

.our-services__item:nth-child(5) {
  background-image: url(../img/loborotory.png);
}

.our-services__item:nth-child(6) {
  background-image: url(../img/avtalmalogy.png);
}

.our-services__item:nth-child(7) {
  background-image: url(../img/usi.png);
}

.our-services__item:nth-child(8) {
  background-image: url(../img/chip.png);
}

.our-services__item:nth-child(9) {
  background-image: url(../img/passport.png);
}

.our-services__item:nth-child(10) {
  background-image: url(../img/vacsine.png);
}

.our-services__item:nth-child(11) {
  background-image: url(../img/stomatology.png);
}

.our-services__item:nth-child(12) {
  background-image: url(../img/call-home.png);
}

.our-service__link {
  text-decoration: none;
}

.our-service__desc {
  margin: 0;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: var(--heading-button-color);
}

.our-service--active {
  padding-bottom: 42px;
  margin-bottom: 0;
  border: 1px solid transparent;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.our-services__content {
  display: flex;
  align-items: center;
  padding: 41px 105px 41px 23px;
  border-radius: 5px;
  width: 1223px;
  background-color: #fff;
}

.services-content__img {
  margin-right: 67px;
}

.services-content__image {
  border-radius: 5px;
}

.services-content__service {
  width: 492px;
}

.services-content__heading {
  margin: 0;
  margin-bottom: 18px;
  font-weight: 500;
  font-size: 36px;
  color: var(--heading-button-color);
}

.services-content__text {
  margin: 0;
  margin-bottom: 9px;
}

.services-content__last-txt {
  margin-bottom: 34px;
}

.services-content__btns {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.services-content__link {
  margin-right: 21px;
  padding: 15px 36px;
  padding-left: 64px;
  text-decoration: none;
  font-weight: 500;
  line-height: 21px;
}

.button-light {
  background-color: var(--hover-button-color);
}

.price-btn {
  background-image: url(../img/icon/price-btn.svg);
  background-repeat: no-repeat;
  background-position: calc(50% - 43px) center;
}

.document-btn {
  background-image: url(../img/icon/document-btn.svg);
  background-repeat: no-repeat;
  background-position: calc(50% - 71px) center;
}



/* CUTE DOG */
.cute-dog {
  /* position: relative; */
  margin-top: 162px;
  padding-top: 73px;
  padding-bottom: 182px;
  border: 1px solid transparent;
  background-image: url(../img/Subscription.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/* .cute-dog::before {
  position: absolute;
  top: calc(50% - 265px);
  left: calc(50% - -50px);
  width: 613px;
  height: 481px;
  background-image: url(../img/cute-dog.png);
  background-repeat: no-repeat;
  content: "";
} */

.cute-dog__content {
  margin-left: 267px;
  border: 1px solid transparent;
}

.cute-dog__heading {
  margin: 0;
  margin-top: 90px;
  margin-bottom: 32px;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  display: flex;
  color: #fff;
}

.cute-dog__form {
  display: flex;
  align-items: center;
}

.cute-dog__input {
  margin-right: 21px;
  padding-top: 16px;
  padding-bottom: 14px;
  padding-left: 22px;
  border: 1px solid transparent;
  border-radius: 5px;
  width: 335px;
}
/* 
.cute-dog__input::placeholder {
} */

.cute-dog__btn {
  padding: 15px 53px;
  border: 1px solid transparent;
}



/* ARTICLES */

.useful-articles {
  padding-bottom: 262px;
}

.useful-articles__heading {
  margin: 0;
  margin-bottom: 80px;
  font-weight: bold;
  font-size: 48px;  
  text-align: center;
  color: var(--heading-button-color);
}

.useful-articles__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.useful-articles__item {
  border-radius: 5px;
} 

.useful-articles__item:not(:first-child) {
  margin-left: 24px;
}

.use-article__inner {
  display: flex;
  background-color: #fff;
  border-radius: 5px;
}

.use-article__content {
  position: relative;
  padding: 201px 30px 38px 30px;
  border: 1px solid #E4E4E2;
  border-radius: 5px;
}

.use-article__image {
  position: absolute;
  top: 0;
  left: 0;
  /* height: 100%;
  width: 100%; */
}

.use-article__data {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}

.use-article__title {
  margin-bottom: 14px;
  width: 193px;
}

.use-article__heading {
  margin: 0;
  font-weight: bold;
  font-size: 22px;
  line-height: 25px;
  color: #222;
}

.use-article__text {
  margin-bottom: 36px;
  width: 244px;
}

.use-article__txt {
  margin: 0;
}

.use-article__desc {
  margin-bottom: 36px;
  width: 270px;
}

.use-article__btn {
  display: flex;
  align-items: center;
  padding: 0;
  background-color: transparent;
  border: 1px solid transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: var(--heading-button-color);
  cursor: pointer;
}

.use-article__btn::before {
  margin-right: 5px;
  width: 26px;
  height: 26px;
  background-image: url(../img/icon/pet.svg);
  content: "";
}

.use-article__long-content {
  display: none;
  padding: 41px 34px 38px 31px;
  border: 1px solid #F3F3F3;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.long-content__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 31px;
}

.long-content__tag {
  margin-right: 8px;
  text-decoration: none;
  color: #3D9CEA;
}

.use-article__inner--active .use-article__long-content {
  display: block;
}

.use-article__inner--active .use-article__image {
  width: 100%;
  height: 100%;
}

/* use-article__inner--active */




.site-footer {
  padding-top: 56px;
  padding-bottom: 23px;
  background-color: #F3F3F3;
}

.site-footer__inner {
  display: flex;
}

.site-footer__first-menu {
  margin: 0;
  margin-left: 67px;
  margin-bottom: -14px;
  padding: 0;
  list-style: none;
}

.site-footer__menu {
  margin: 0;
  margin-bottom: -14px;
  margin-left: 87px;
  padding: 0;
  list-style: none;
}

.site-footer__item:not(:last-child) {
  margin-bottom: 14px;
}

.site-footer__dates {
  display: flex;
  margin-left: 123px;
  flex-direction: column;
  align-items: flex-end;
  width: 148px;
}

.site-footer__address {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 140px;
  width: 137px;
}

.site-footer__address::before {
  position: absolute;
  left: -21px;
  top: 2px;
  width: 20px;
  height: 20px;
  background-image: url(../img/icon/home.svg);
  background-repeat: no-repeat;
  content: "";
}

.site-footer__list-copyright {
  margin-left: 18px;
}

.site-footer__list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-tel {
  position: relative;
}

.footer-tel::before {
  position: absolute;
  top: 5px;
  left: -20px;
  width: 16px;
  height: 16px;
  background-image: url(../img/icon/phone.svg);
  background-repeat: no-repeat;
  content: "";
}

.copyright {
  margin: 0;
  margin-top: 63px;
  font-size: 14px;
  line-height: 18px;
  color: #5C5C5C;
}